# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
coverage/

# env files
.env
.env.*

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# docker
docker-data/

# misc
*.local
.turbo/
.cache/

