version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: greencycle-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: greencycle
      POSTGRES_PASSWORD: greencycle
      POSTGRES_DB: greencycle
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U greencycle"]
      interval: 10s
      timeout: 5s
      retries: 5

  mailpit:
    image: axllent/mailpit:latest
    container_name: greencycle-mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"
      - "1025:1025"

  redis:
    image: redis:7-alpine
    container_name: greencycle-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:

